<!DOCTYPE html>

  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/nvi_icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Scott Theer" />
    <title>Nonviolence International Tactic Categories Coercive</title>
    <link rel="stylesheet" type="text/css" href="/static/site.css">
    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <h1 class="hide">NVI Tactic Category Coercive Grouping</h1>

  <body>

    <div id="categories-navbar" class="navbar">
      <div class="categories-buttons" id="categories-buttons-left">
        <button class="navbar-button categories-button" id="home-link" title="Home">Home</button>
        <button class="navbar-button categories-button" id="categories-link" title="Categories">Categories</button>
      </div>
      <div class="categories-buttons" id="categories-buttons-right">
        <button class="navbar-button categories-button" id="tactics-link" title="Tactics">Tactics</button>
        <button class="navbar-button categories-button" id="dataset-link" title="Data Set">Data Set</button>
      </div>
      <img id="sub-logo-img" src="/static/nvi-sub-logo.png" />
      <button id="categories-dropdown-button" title="Pages Dropdown" class="material-icons md-36 hide">dehaze</button>
    </div>

    <div id="categories-dropdown" class="hide">
      <button class="dropdown-button" id="home-link-dropdown" title="Home">Home</button>
      <button class="dropdown-button" id="categories-link-dropdown" title="Categories">Categories</button>
      <button class="dropdown-button" id="tactics-link-dropdown" title="Tactics">Tactics</button>
      <button class="dropdown-button" id="dataset-link-dropdown" title="Data Set">Data Set</button>
    </div>


    <script type="text/javascript" src="/static/categories.js"></script>

  </body>
</html>