<!DOCTYPE html>

  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/nvi_icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Scott Theer" />
    <title>Nonviolence International Tactics Database</title>
    <link rel="stylesheet" type="text/css" href="/static/site.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>
  </head>

  <body>
    <div id="main-navbar" class="navbar">
      <img id="main-logo-img" src="/static/nvi-main-logo.png" />
      <div id="main-buttons">
        <button class="navbar-button" id="main-site-link" title="Visit Our Website">Visit Our Website</button>
        <button class="navbar-button" id="categories-link" title="Categories">Categories</button>
        <button class="navbar-button" id="tactics-link" title="Tactics">Tactics</button>
        <button class="navbar-button" id="dataset-link" title="Data Set">Data Set</button>
      </div>

      <button id="main-dropdown-button" title="Pages Dropdown" class="material-icons md-36 maindropdown hide">dehaze</button>
      <div id="main-dropdown-content" class="hide">
        <a class="main-dropdown-link" href="https://www.nonviolenceinternational.net/">Visit Our Website</a>
        <a class="main-dropdown-link" href="/categories">Categories</a>
        <a class="main-dropdown-link" href="/tactics">Tactics</a>
        <a class="main-dropdown-link" href="#">Data Set</a>
      </div>
  </div>

    <div class="hero-image" id="cover">
      <div class="hero-text">
        <h1 id="tactics-title">Nonviolent Tactics of Civil Resistance</h1>
        <h2>Welcome to Nonviolence International's Tactics Database.</h2>
        <button>Learn More</button>
      </div>
    </div>

    <script type="text/javascript" src="/static/site.js"></script>

  </body>

</html>