<!DOCTYPE html>

	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
	    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N51XNRXN95"></script>
	    <script>
	      window.dataLayer = window.dataLayer || [];
	      function gtag(){dataLayer.push(arguments);}
	      gtag('js', new Date());

	      gtag('config', 'G-N51XNRXN95');
	    </script>
    
	    <meta charset="UTF-8">
	    <link rel="icon" href="/static/site_pictures/nvi_icon.png" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
	    <meta name="author" content="Scott Theer" />
	    <title>NVI Nonviolent Tactics</title>
	    <link rel="stylesheet" type="text/css" href="/static/site.css">
	    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>

	<body>

		<div id="logo-notfound-container">
			<img id="logo-notfound" src="/static/site_pictures/nvi-sub-logo.png" />
		</div>
		<h1 id="tactic-notfound-header">Tactic Not Found!</h1>
		<p id="tactic-notfound-para">Visit our <button id="link-to-tactic">Tactics Page</button> to learn about Nonviolent Methods of Resistance</p>

		<script type="text/javascript" src="/static/tactic_page_error.js"></script>
	</body>

</html>