<!DOCTYPE html>

	<head>
	    <meta charset="UTF-8">
	    <link rel="icon" href="/static/nvi_icon.png" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
	    <meta name="author" content="Scott Theer" />
	    <title>NVI Nonviolent Tactics</title>
	    <link rel="stylesheet" type="text/css" href="/static/site.css">
	    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	    <script type="text/javascript" src="/static/nunjucks.min.js"></script>
	    <script type="text/javascript" src="/static/color-thief.umd.js"></script>
		<meta property="og:type" content="article" />
		<meta property="og:title" content="NVI Nonviolent Tactics" />
		<meta property="og:description" content={{data[0].name}} />
		<meta property="og:image" content="/static/tactic_pictures/"{{data[0].picture}}".jpg" />


	    <script>
	    	pic = "{{data[0].picture}}";
	    	sharpNum = "{{data[0].gene_sharp_num}}";
	    	num_examples = "{{data.length}}";
	    	link = "{{link}}";
	    </script>
	</head>

	<body>
		<div id="fb-root"></div>
		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0" nonce="00AB96lV"></script>

		<div id="tactic-container">
			<div id="tactic-header">
				<span id="tacticpage-back-top" class="tacticpage-exit material-icons">arrow_back</span>
				<div id="tacticinfo-container">

					<img id="tacticpagesub-logo-img" src="/static/nvi-sub-logo.png" />

					<div id="tacticinfo-sub-container">
						<div id="tacticpage-name" class="tacticheader-text">{{data[0].name}}</div>
						<div id="tacticpage-description" class="tacticheader-text">{{data[0].description}}</div>
					</div>

					<span id="prev-tacticpage" class="tacticpage-exit material-icons">keyboard_arrow_left</span>

				</div>

				<div id="tacticpage-pic-container">
					<span id="next-tacticpage" class="tacticpage-exit material-icons">keyboard_arrow_right</span>
				</div>
			</div>

			<span id="tacticpage-down-arrow" class="material-icons md-48">keyboard_arrow_down</span>

			<div id="tacticpage-scroll-header">
				<span id="tacticpage-back-header" class="tacticpage-exit material-icons">arrow_back</span>

				<img id="tacticpagesub-header-img" src="/static/nvi-sub-logo.png" />

				<div id="social-media-header">
					<div class="fb-share-button" data-layout="button" data-size="small"><a target="_blank"class="fb-xfbml-parse-ignore">Share</a></div>
			        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Check out this tactic of nonviolent resistance from Nonviolence International" data-url="https://www.tacticstest.nonviolenceinternational.net/" data-via="NVIntl" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			        <a class="mail-share-button" href="mailto:?subject=Nonviolence International Tactic of Resistance&amp;body=Check out this tactic of nonviolent resistance from Nonviolence International https://www.tacticstest.nonviolenceinternational.net/" title="Share by Email" target="hidden-iframe">
			        	<iframe class="mail-iframe" name="hidden-iframe"></iframe>
			        	<span class="material-icons">alternate_email</span>
			    	</a>
				</div>
			</div>

			<div id="tactic-bottom">
				<div id="description-container">
					<div id="social-media-bottom">
						<div id="fb-share" data-href="https://www.tacticstest.nonviolenceinternational.net/" class="fb-share-button" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A3000%2Ftactics%2FMarches&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
				        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Check out this tactic of nonviolent resistance from Nonviolence International" data-url="https://www.tacticstest.nonviolenceinternational.net/" data-via="NVIntl" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				        <a class="mail-share-button" href="mailto:?subject=Nonviolence International Tactic of Resistance&amp;body=Check out this tactic of nonviolent resistance from Nonviolence International https://www.tacticstest.nonviolenceinternational.net/" title="Share by Email" target="hidden-iframe">
				        	<iframe class="mail-iframe" name="hidden-iframe"></iframe>
				        	<span class="material-icons">alternate_email</span>
				    	</a>
					</div>
					{% for i in range(data.length) %}
					<span id="description-title-{{i}}" class="tacticpage-example-title hide">{{data[i].title}}</span>
					<div id="tacticpage-example-text-{{i}}" class="tacticpage-example-description hide">{{data[i].ex_description}}</div>
					<div id="tacticpage-example-link-{{i}}" class="tacticpage-example-link hide">Read More: 
						<a href={{data[i].link}}>{{data[i].title}}</a>
					</div>
					{% endfor %}
					<!--<div id="tacticpage-example-description">{{data[0].ex_description}}</div>
					<div id="tacticpage-example-link">Read More: 
						<a href={{data[0].link}}>{{data[0].title}}</a>
					</div>-->
					<button id="prev-tactic-example" class="example-pointer hide">&#10094;</button>
					<button id="next-tactic-example" class="example-pointer hide">&#10095;</button>
					<div id="tactic-example-dot-container">
						{% for i in range(data.length) %}
						<span id="tacticpage-example-dot-{{i}}" class="tacticpage-example-select-dot" onclick="getTacticDescription({{i}})"></span>
						{% endfor %}
					</div>
				</div>
				<div id="tacticpage-variables">

					<div id="tacticpage-categories">
						<div id="category-container">
							<span id="tacticpage-categories-header">Tactic Categories:</span><br>
							{% for category in data[0].categories.split("; ").reverse() %}
				  				<span class="category-list-tacticpage" style="margin-left: {{loop.index * 30}}px;">{{category}}</span><br>
							{% endfor %}
						</div>
					</div>

					<div id="tacticpage-characteristics">
						<div id="coercive-persuasive">
							{% if (data[0].coercive) == 1 and (data[0].persuasive) == 1 %}
								Coercive & <br>
								Persuasive
							{% elif (data[0].coercive) == 1 and (data[0].persuasive) == 0 %}
								Coercive
							{% elif (data[0].coercive) == 0 and (data[0].persuasive) == 1 %}
								Persuasive
							{% else %}
								''
							{% endif %}
						</div>

						<div id="sharp-container">
							<span id="sharp-number">{{data[0].gene_sharp_num}}</span>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div id="tacticpage-load-screen">
			<div class="loader"></div>
		</div>

		<!--<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
		<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>-->

		<script src="/static/tactic_page.js"></script>

	</body>

</html>