<!DOCTYPE html>

  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/nvi_icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Scott Theer" />
    <title>NVI Nonviolent Tactics</title>
    <link rel="stylesheet" type="text/css" href="/static/site.css">
    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="/static/nunjucks.min.js"></script>
  </head>

  <h1 class="hide">Nonviolence International Peaceful Resistance Tactic Pages</h1>

  <body>

    <div id="tactics-navbar" class="navbar">
      <div class="tactics-buttons" id="tactics-buttons-left">
        <button class="navbar-button tactic-button" id="home-link" title="Home">Home</button>
        <button class="navbar-button tactic-button" id="categories-link" title="Categories">Categories</button>
      </div>
      <div class="tactics-buttons" id="tactics-buttons-right">
        <button class="navbar-button tactic-button" id="tactics-link" title="Tactics">Tactics</button>
        <button class="navbar-button tactic-button" id="dataset-link" title="Data Set">Downloads</button>
      </div>
      <img id="sub-logo-img" src="/static/nvi-sub-logo.png" />
      <button id="tactic-dropdown-button" title="Pages Dropdown" class="material-icons md-36 hide">dehaze</button>
      <button id="tactic-filter-button" title="Filter Categories" class="material-icons md-36">filter_list</button>
      <button id="tactic-search-button" title="Search Categories" class="material-icons md-36">search</button>

      <div id="social-media-container-tactics" class="social-media">
        <a href="https://www.facebook.com/NonviolenceInternational">
          <img id="facebook-link" src="/static/fb.png" />
        </a>
        <a href="https://twitter.com/NVIntl">
          <img id="twitter-link" src="/static/twitter.png" />
        </a>
        <a href="https://www.youtube.com/channel/UCp0RkgP0UPwSs2e__fxrbOA">
          <img id="youtube-link" src="/static/youtube.png" />
        </a>
      </div>
    </div>

    <div id="tactic-dropdown" class="hide">
      <button class="dropdown-button" id="home-link-dropdown" title="Home">Home</button>
      <button class="dropdown-button" id="categories-link-dropdown" title="Categories">Categories</button>
      <button class="dropdown-button" id="tactics-link-dropdown" title="Tactics">Tactics</button>
      <button class="dropdown-button" id="dataset-link-dropdown" title="Data Set">Downloads</button>
    </div>

    <div id="tactic-filter-container" class="hide">
      <div id="tactic-search" class="hide"></div>
      <div id="tactic-filter" class="hide"></div>
    </div>

    <!--<div id="more-tactics-above" class="hide">
      <span id="more-tactics-above-button" class="tactic-scroll material-icons md-48 hide">keyboard_arrow_up</span>
    </div>-->

    <div id="container"></div>

    <!--<div id="more-tactics-below">
      <span id="more-tactics-below-button" class="tactic-scroll material-icons md-48">keyboard_arrow_down</span>
    </div>-->

    <div id="load-screen" class="hide"></div>
    
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="/static/isotope.pkgd.min.js"></script>

    <script type="text/javascript" src="/static/tactics.js"></script>

  </body>

</html>